.middle-column {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.no-padding {
  padding: 0 !important;
}

.l-header {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y:hidden;
 
  
}
.r-header {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y:auto;
 
  
}

.primarys {
  background-color: pink;
  color:rgb(2, 123, 228);
  border-radius: 8px;
  padding: 20px;
}


/* body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
} */

.preloader {
  background-image: url("/images/logoonlyfans.png");
  position: relative;
  width: 200px;
  height: 200px;
  animation: expandContract 2s infinite;
}

.preloader img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes expandContract {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
